
/* шапка страници */

.container{
    width: 1110px;
    margin: 0 auto;
}

.page-header {
    font-size: 0;
    margin: 0 auto;
    margin-bottom: 105px;
    padding: 35px 0;
    width: 1110px;
    text-align: center;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.logo{
    font-family: Roboto, BLACK;
    float: left; 
    list-style: none;
    text-decoration: none;
    vertical-align: middle;
    color: #8e8d8d;
    font-size: 30px;
    line-height: 32px;
}

.logo::first-letter {
    font-family: Roboto, black;
    color: #1abc9c;
    font-size: 30px;
}

.site-navigation{
    font-family: Open Sans, bold;
    margin: 0;
    color: #0f0101;
    font-size: 14px;
    text-transform: uppercase;
    float: right;
    list-style: none;
}

.site-navigation li{
    float: left;
}

li{
    margin-right: 35px;
}

li:last-child{
    margin-right: 0;
}

.site-navigation a{
    display: block;
    color: #0f0101;
    font-size: 14px;
    line-height: 11px;
    text-decoration: none;
}

.menu a:hover,
.menu a:focus{
    color: #1abc9c;
}

h2{
    display: block;
    font-family: 'Roboto';
    width: 1110px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 92px;
    padding-bottom: 0;
    font-size: 48px;
    line-height: 32px;
    text-transform: uppercase;
    color: #515151;
}


h2::after{
    display: block;
    padding: 0;
    margin: 0 auto;
    margin-top: 28px;
    width: 165px;
    height: 7px;
    background-color: #1abc9c;
    content: '';
}

/* тело страници */


.page{
    font-size: 0;
    margin: 0;
    padding: 0;
    width: 1110px;
}

/* .section{
    padding-top: ;
} */
.products{
    font-size: 0;
    list-style: none;
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
    text-align: left;
    box-sizing: border-box;
}



ul{
    padding: 0;
    margin: 0;
}

.icon{
    padding: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 255px;
    height: 322px;
    float: left;
    font-size: 15px;
}
 
.img{
    display: block;
    background-color: #e8effc;
}

.icon:nth-child(4n){
    margin-right: 0;
}

.icon:nth-child(n+5){
    margin-bottom: 0;
}

.products p{
    margin: 0;
    text-transform: uppercase;
}

.products-name{
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    /* margin-top: -5px; */
    padding: 0;
    text-align: center;
    vertical-align: middle;
    float: left;
    width: 80%;
    height: 40px;
    background: #323232;
}

.price{
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    /* margin-top: -5px; */
    padding: 0;
    float: right;
    width: 20%;
    height: 40px;
    background: #8c8c8c;
}

.icon:hover .products-name{
    background-color: #1abc9c;
}

.icon:hover .price{
    background-color: #7fd9c7;
}

.icon:hover{
    cursor: pointer;
}


li:last-child{
    margin-right: 0;
}

.lists{
    margin: 0;
    padding: 0;
    font-size: 0px;
    line-height: 28px;
    float: left;
    margin-right: 30px;
    width: 350px;
    text-align: center;
}

h3{
    font-family: 'Open Sans';
    margin: 0;
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 26px;
    color: #555252;
}

h3::after{
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 9px;
    margin-bottom: 28px;
    width: 135px;
    height: 3px;
    background-color: #1abc9c;
    content: '';
}

.lists p{
    font-family: 'Open Sans';
    margin: 0;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 16px;
    color: #555252;
}

.lists a{
    display: block;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Open Sans', Light;
    color: #ffffff;
    text-decoration: none;
}

.input{
    box-sizing: border-box;
    padding: 0;
    width: 160px;
    height: 50px;
    background-color: #4ec6ab;
    border: 2px solid #4ec6ab;
}

.input:hover{
    color: snow;
    background-color: slateblue;
    border: slateblue;
}