@media (max-width: 767px){
    .header{
        width: 320px;
    }
   
 .logo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
} 
.nav-header{
    margin: 0 auto; 
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.page-header{
    margin-bottom: 125px;
}
.list-partner{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}
.order1{
    order: 1;
}
.order2{
    order: 3;
}
.order3{
    order: 2;
}
.order4{
    order: 4;
}
.icon-partner:not(:last-child){
    margin-bottom: 28px;
} 
.wrapper{
    width: 320px;
    margin: 0 auto;
}
.icon-partner{
    margin: 0 auto;
}

}
 @media (min-width:768px) and (max-width:959px){
    .header{
    width: 768px;
    height: auto;
    margin: 0 auto;
    padding-left: 42px;
    padding-right: 42px;
    } 
    .nav-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logotwo{
        display: none;
    }
    .logo{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    color: #ffffff;
    text-transform: uppercase;
    }

    .container{
        width: 100%;
        margin: 0 auto;
    }
    .wrapper{
        width: 500px;
        margin: 0 auto;
    }
    .list-partner{
        margin: 0 auto;
    }

    .list-partner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 54px;
    }

    .icon-partner:nth-child(-n+2){
        margin-bottom: 44px;
    }
     .wrap-title{
         font-size: 52px;
         line-height: 1.2;
     }
     .wrap-text{
         font-size: 24px;
         line-height: 1.2;
     }



}
@media (min-width:960px){
    .logotwo{
        display: none;
    }
    .header{
        width: 960px;
        height: auto;
        margin: 0 auto;
    }
    .nav-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo{
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.2;
        color: #ffffff;
        text-transform: uppercase;
        }
    .wrapper{
        margin: 0 auto;
        width: 940px;
    }
    .list-partner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 54px;
    } 
    .wrap-title{
        font-size: 52px;
        line-height: 1.2;
    }
    .wrap-text{
        font-size: 24px;
        line-height: 1.2;
    }

    
} 
