*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', Arial serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
 }


 .conteiner{
    width: 900px;
    margin: 0 auto;
} 


header{
      padding-top: 78px;
      padding-bottom: 105px;
}


.site-navigation{
    font-size: 0px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation a{
    padding: 0;
    margin: 0;
    font-weight: 300px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    color: #626262;
}


li{
    display: inline-block;
    margin-right: 120px;
    font-size: 0px;
}

a{
    font-size: 14px;
}

.right{
    margin-right: 0;
}

a:hover{
    display: block;
    color: #8bcef8;
}


.name article{
    font-family: 'Ubuntu', Arial;
}


.box{
    font-size: 0;
}

.block:nth-child(even){
    margin-right: 0;
}

.block{
    display: inline-block;
    width: 420px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 135px;
    margin-left: 0;
    margin-right: 60px;
    text-align: left;
    font-size: 0;
}


.img{
    font-size: 14px;
    margin-bottom: 31px;
}

.name{
    font-size: 14px;
    margin-bottom: 30px;
    
}

.title{
    font-size: 30px;
    margin-bottom: 45px;
    margin-left: 0;
    margin-right: 0;
}

.text{ 
    font-size: 14px;
    margin-bottom: 30px;
}

.text-one{
    font-size: 14px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.wraper{
    width: 165px;
    margin: 0 auto;
    padding-bottom: 45px;
    text-align: center;
    border: 10px;
}


.input{
    width: 165px;
    height: 60px;
    margin-bottom: 0;
    background: transparent;
    color: #626262;
}